@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

html{
    margin: auto;
    text-align: center;
    display: block;
    width: 50%;
    background-color: whitesmoke;
}

body{
    font-family: Anton, sans-serif;
    font-size: 2rem;
    letter-spacing: 0.2rem;
    border:3px solid black;
}

h1{
   letter-spacing: 0.3rem;
}

@media screen and (max-width: 640px){
    html{
        width: 100%;
    }
    body{
        font-size: 0.9rem;
    }
}

